<div class="authorship">
  <img src="<%= authorship.avatar %>" aria-hidden class="authorship__avatar">

  <div class="authorship__author">
    <div class="authorship__title font-display">
      <%= authorship.title %>
    </div>

    <div class="authorship__subtitle">
      <%= authorship.subtitle %>
    </div>
  </div>
</div>