.topic-fields {
  margin-top: 1rem;

  .topic-fields__field {
    .topic-fields__field__blank {
      display: flex;
      flex-direction: column;
      align-items: center;

      border: 4px dashed $divider-color;
      border-radius: 10px;
      padding: 2rem 0;
      user-select: none;

      .topic-fields__field__blank__icon {
        font-size: 4rem;
        color: $secondary-text-color;
        margin-bottom: 0.5rem;
      }
    }
  }
}