<% @body_style = "--primary-color: #{@subject.color}" %>

<% context_bar( 
  avatar: @subject.avatar_url,
  title: @subject.title,
  description: @subject.description
) %>

<%= component :headline, title: @subject.title %>

<section class="secondary-text italic">
  Created by <%= @subject.credit %>
</section>

<%= render_content_and_widgets @subject %>