<nav class="omnibar">
  <%= omnibar.link :gamepad, root_path, label: 'FGH' %>
  <%= omnibar.link :search, root_path, label: 'Search' %>
  <%= omnibar.link :plus, new_subject_path, label: 'Create' %>

  <div class="omnibar__spacer"></div>

  <% if Current.user %>
    <%= omnibar.link :'user-circle', user_path(Current.user) %>
  <% end %>
</nav>