.authorship {
  display: flex;
  align-items: center;

  .authorship__avatar {
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 8px;
    margin-right: 6px;
  }

  .authorship__author {
    .authorship__subtitle {
      font-size: 0.85rem;
      color: var(--secondary-text-color);
    }
  }
}