.contextbar {
  width: 300px;

  .contextbar__actions {
    .contextbar__action {
      display: block;
      padding: 8px;
      border-radius: 4px;
      margin-bottom: 4px;

      display: flex;
      align-items: center;

      &:hover, &.active {
        color: var(--primary-color);
      }

      &.contextbar__action--discord .icon {
        color: #6b89f0;
      }

      .contextbar__action__name {
        flex-grow: 1;
        margin-left: 8px;
      }
    }
  }
}