.sidebar_group {
  height: 100%;
  width: $omnibar-width;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  overflow-x: hidden;
  display: flex;

  &.sidebar_group--has-cbar {
    width: calc(#{$omnibar-width} + #{$contextbar-width});
  }
}