.sticker {
  color: var(--text-on-bright-color);
  font-size: 0.9rem;
  padding: 0 4px;
  margin-bottom: 5px;
  border-radius: 3px;

  &:not(:last-child) {
    margin-right: 0.25rem;
  }

  &.sticker--inline {
    display: inline-block;
    margin-bottom: 0;
  }
}
