html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: var(--primary-text-color);
}

section {
  margin-bottom: 1.3rem;
}

main.container {
  padding: 1rem 2rem;
  margin-left: $omnibar-width;

  .sidebar_group.sidebar_group--has-cbar + & {
    margin-left: calc(#{$omnibar-width} + #{$contextbar-width});
  }
}