.navbar {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  padding: 0.5rem 1rem;
  background-color: mix($divider-color, transparent, 50%);

  @supports (backdrop-filter: blur(5px)) or (-ms-backdrop-filter: blur(5px)) or (-moz-backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
  }

  .navbar__brand {
    font-weight: 200;
    font-size: 1.8rem;
    text-decoration: none;
    color: inherit;
  }

  .navbar__links {
    flex-grow: 1;

    display: flex;
  }

  .navbar__user {
    .navbar__avatar {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }
}