table {
  width: 100%;

  &.my {
    margin: 0.5rem 0;
  }

  tr {
    &:nth-child(odd) {
      background-color: $highlight-color;
    }

    th {
      text-align: left;
      font-weight: normal;
    }

    th, td {
      padding: 0.25rem 0.5rem;
      margin: 0;
    }
  }
}