h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.secondary-text {
  margin-bottom: 0;
  color: $secondary-text-color;
  font-weight: normal;
}

.uppercase {
  text-transform: uppercase;
}