h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.secondary-text {
  color: var(--secondary-text-color);
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}