$base-colors: (
  body: #14191f,
  highlight: #1b2028,
  dark-highlight: black,
  slight-highlight: mix(#0E0E0E, transparent, 50%),
  divider: #1b2028,
  primary-text: #aaaaaa,
  secondary-text: #7c7c7c,
  primary: #4d698e,
  dark-primary: darken(#4d698e, 10%),
  pinned: #d91141,
  game: #EC6363,
  resource: #ff912b,
  tutorial: #FFAD33,
  announcement: #15aa70,
  memo: #009de6,
  team: #986bc5,
);

@each $key, $value in $base-colors {
  body {
    --#{$key}-color: #{$value};
  }

  .color-#{$key} {
    color: var(--#{$key}-color);
  }

  .bg-#{$key} {
    background-color: var(--#{$key}-color);
  }

  .radio-button--#{$key} {
    input:checked + .radio-button__display {
      .radio-button__icon {
        background-color: var(--#{$key}-color) !important;
      }
    }
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap');

.font-display {
  font-family: Comfortaa;
  text-transform: uppercase;
}