$base-colors: (
  body: black,
  highlight: #1c1c1e,
  dark-highlight: darken(#1c1c1e, 3%),
  slight-highlight: mix(#1c1c1e, transparent, 50%),
  divider: #323235,
  primary-text: white,
  secondary-text: #98989e,
  primary: #db4e30,
  dark-primary: darken(#db4e30, 10%),
  draft: #d91141,
  game: #EC6363,
  resource: #ff912b,
  tutorial: #FFAD33,
  announcement: #15aa70,
  memo: #009de6,
  team: #986bc5,
);

@each $key, $value in $base-colors {
  body {
    --#{$key}-color: #{$value};
  }

  .color-#{$key} {
    color: var(--#{$key}-color);
  }

  .bg-#{$key} {
    background-color: var(--#{$key}-color);
  }

  .radio-button--#{$key} {
    input:checked + .radio-button__display {
      .radio-button__icon {
        background-color: var(--#{$key}-color) !important;
      }
    }
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap');

.font-display {
  font-family: Comfortaa;
  text-transform: uppercase;
}

$omnibar-width: 64px;
$contextbar-width: 200px;