<%= component :row, css_class: 'page__footer', center: :vertical do |r| %>
  <%= r.column do %>
    <span class="secondary-text">
      &copy; <%= Time.now.year %> Fangame Hacktory
    </span>
  <% end %>
<% end %>